.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
}

.footer__content {
  display: flex;
  margin: 0;
  padding: 60px 80px 0;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin-left: auto;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list-item {
  list-style-type: none;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  transition: color ease-in-out 1s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 108px 80px 60px;
}
