.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 100%;
  margin-top: 8px;
  height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
}

.placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
  box-sizing: border-box;
}

.form__button:hover {
  color: blue;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
}
