.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family:Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}



.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__image {
  position: absolute;
  z-index: -1;
  top: 124px;
  right: 5px;
  max-width: 646px;
  max-height: 568px;
}


.nav {
  display: flex;
  justify-content: space-between;

}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;

}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}


.header__title {
max-width: 729px;
font-size: 60px;
line-height: 72px;
margin: 183px 0 0;
letter-spacing: -0.6px;
font-weight:500;
font-family: Inter, Arial, sans-serif;
font-style: normal;
}


.header__description {
max-width: 683px;
font-size: 20px;
line-height: 30px;
margin: 28px 0 0;
font-family: Noto Serif, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: normal;
}

.header__span-accent{
  display: block;
  color: blue;
  font-family: Noto Serif, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ED;
}


.header__span-accent{
display: block;
}

.header__footer{
display: flex;
justify-content: space-between;
margin-top: auto;
}

.header__paragraphs {
margin: 0;

}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
}

.recipes__subtitle {
 max-width: 436px;
 color: white;
 font-family: Noto Serif, 'Times New Roman', Times, serif;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 30px;
 margin-bottom: 80px;
 margin-top: 24px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe{
  bottom:80px;
  width:  480px;
  height: 273px;
  bottom: 215px;
}